<div id="post-{{ item.id }}" class="post update">
    <div class="post-info">
        <a class="post-author-link"
            {% if app.user == item.author %}
                href="{{ path('profile') }}"
            {% else %}
                href="{{ path('some-user-page', {'someUser': item.author.id}) }}"
            {% endif %}
        >
            <h3 class="post-info-author">
                <span>{{ item.author.firstName }} {{ item.author.lastName }}</span>
                -
                <span>{{ item.createdAt | date('d/m/Y' ) }}</span>
            </h3>
        </a>
        <p class="post-author-location">{{ item.author.city }}</p>
    </div>
    <div class="post-content-wrap clearfix">
        <div class="post-img">
            <a
                {% if app.user == item.author %}
                    href="{{ path('profile') }}"
                {% else %}
                    href="{{ path('some-user-page', {'someUser': item.author.id}) }}"
                {% endif %}
            >
                <img src="{{ item.author.image.src }}" alt="">
            </a>
        </div>
        <div class="post-content">
            <div class="post-type-wrap">
                <span class="icon icon-share_icon"></span>
                {% if item.updatePost.postCategory %}
                    <a href="javascript:;"
                       onclick="filterPostByPostTypeCategory('update', '{{ item.updatePost.postCategory.translate(app.request.locale).name }}', '{{ app.request.locale }}'); return false;">
                        <p class="type-of-event updatePostFilter">
                            {{ item.updatePost.postCategory.translate(app.request.locale).name }}
                        </p>
                    </a>
                {% endif %}
            </div>
            <p class="post-text">{{ item.content|nl2br }} </p>
            <p class="post-text">
                {{ item.updatePost.industry.translate(app.request.locale).name }}
            </p>
            {% if item.communities.first %}
                <a href="{{ path('community', {'comm': item.communities.first.id}) }}"
                   class="post-community">{{ item.communities.first }}</a>
            {% endif %}
            {% include 'AppBundle:Account:parts/postBottom.html.twig' with {'from' : 'user', 'user': 'x'} %}
        </div>
    </div>
    <div id="post-comment-{{ item.id }}">
        {% include 'AppBundle:Account:parts/comments.html.twig' %}
    </div>
</div>
