{% if post %}
<div class="posts-wrap">
    {% for item in post %}
    {% if item.type == 2 %}
        {% if user == item.author or user == 'x' %}
            {% include '@App/Account/templates/opportunityPost.html.twig' with {'item': item } %}
        {% else %}
            <div id="post-{{item.id}}" class="post repost opportunity">
                <div class="wrapp-heading-box">
                    <div class="post-img">
                        <a
                        {% if app.user == user %}
                            href="{{path('profile')}}"
                        {% else %}
                            href="{{path('some-user-page', {'someUser': user.id})}}"
                        {% endif %}>
                            <img src="{{user.image.src}}" alt="">
                        </a>
                    </div>
                    <div class="repost-info">
                            <a class="repost-author-link" {% if app.user == user %}
                            href="{{path('profile')}}"
                        {% else %}
                            href="{{path('some-user-page', {'someUser': user.id})}}"
                        {% endif %}>
                                <h3 class="post-info-author">{{user.firstName}} {{user.lastName}}</h3>
                            </a>
                            <p>{{'post.text_repost_update'|trans}}</p>
                            <span class="repost-date">{{item.showDate | date('d/m/Y') }}</span>
                    </div>
                </div>
                <div class="content-block">
                    <div class="info-block">
                        <div class="wrap-holder">
                            <div class="img-holder">
                                <img src="{{item.author.image.src}}" alt="">
                            </div>
                        </div>
                        <div class="user-info-box">
                            <div class="wrapper-user-info">
                                <a {% if item.author == app.user %}
                                    href="{{path('profile')}}"
                                {% else %}
                                    href="{{path('some-user-page', {'someUser': item.author.id})}}"
                                {% endif %}
                                class="heading-link"><h3>{{item.author.firstName}} {{item.author.lastName}}</h3></a>
                                <span>{{item.author.job}}</span>
                            </div>
                            <div class="post-type-wrap">
                                <p class="post-type">{{item.opportunityPost.projectType.translate(app.request.locale).name}}</p>
                                    <span class="icon icon-post_icon"></span>
                                </p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapp-post-content">
                        <div class="heading-information">
                            <h4>{{item.opportunityPost.fewWords}}</h4>
                            <p class="post-deadline-wrap">
                                <span class="deadline-title">Deadline</span>
                                <span class="deadline">{{item.opportunityPost.deadline | date('d/m/Y') }}</span>
                            </p>
                            <span class="opportunity-type">{{item.opportunityPost.industry.translate(app.request.locale).name}}</span>
                        </div>
                        <p>{{item.content}}</p>
                        <div class="item-wrap">
                            <p class="post-date">{{item.createdAt | date('d/m/Y')}}</p>
                            {% if item.communities.first %}
                                <a href="{{path('community', {'comm': item.communities.first.id})}}" class="post-community">{{item.communities.first}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                        {% include 'AppBundle:Account:parts/postBottom.html.twig' %}
                        <div id="post-comment-{{item.id}}">
                            {% include 'AppBundle:Account:parts/comments.html.twig' %}
                        </div>
                {#<div class="info-block info-block-message">
                    <a href="javascript:;">
                        <div class="wrap-holder">
                            <div class="img-holder">
                                <img src="/assets/img/noname.png" alt="">
                            </div>
                        </div>
                    </a>
                    <div class="messenger-box">
                        <textarea placeholder="{{'post.add_a_comment'|trans}}" onkeyup="auto_grow(this)"></textarea>
                    </div>
                    <button class="post-btn">{{'user_wall.Post'|trans}}</button>
                </div>#}
            </div>
        {% endif %}

        {% elseif item.type == 1 %}
        {% if user == item.author or user == 'x' %}
            {% include '@App/Account/templates/updatePost.html.twig' with {'item': item } %}
        {% else %}

            <div id="post-{{item.id}}" class="post repost update">
                <div class="wrapp-heading-box">
                    <div class="post-img">
                        <a
                        {% if app.user == user %}
                            href="{{path('profile')}}"
                        {% else %}
                            href="{{path('some-user-page', {'someUser': user.id})}}"
                        {% endif %}>
                            <img src="{{user.image.src}}" alt="">
                        </a>
                    </div>
                    <div class="repost-info">
                            <a class="repost-author-link"
                            {% if app.user == user %}
                            href="{{path('profile')}}"
                            {% else %}
                                href="{{path('some-user-page', {'someUser': user.id})}}"
                            {% endif %}
                            >
                                <h3 class="post-info-author">{{user.firstName}} {{user.lastName}}</h3>
                            </a>
                            <p>{{'post.text_repost_update'|trans}}</p>
                            <span class="repost-date">{{item.showDate | date('d/m/Y') }}</span>
                    </div>
                </div>
                <div class="content-block">
                    <div class="info-block">
                        <div class="wrap-holder">
                            <div class="img-holder">
                                <img src="{{item.author.image.src}}" alt="">
                            </div>
                        </div>
                        <div class="user-info-box">
                            <div class="wrapper-user-info">
                                <a
                                {% if app.user == item.author %}
                                    href="{{path('profile')}}"
                                {% else %}
                                    href="{{path('some-user-page', {'someUser': item.author.id})}}"
                                {% endif %}
                                class="heading-link"><h3>{{item.author.firstName}} {{item.author.lastName}}</h3></a>
                                <span>{{item.author.job}}</span>
                            </div>
                            <div class="post-type-wrap">
                                <p class="type-of-event">{% if item.updatePost.postCategory %} {{item.updatePost.postCategory.translate(app.request.locale).name}}{% endif %}
                                    <span class="icon icon-share_icon"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapp-post-content">
                        <p>{{item.content}}</p>
                        <div class="item-wrap">
                            <p class="post-date">{{item.createdAt | date('d/m/Y h:i' ) }}</p>
                            {% if item.communities.first %}
                            <a href="{{path('community', {'comm': item.communities.first.id})}}" class="post-community">{{item.communities.first}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                        {% include 'AppBundle:Account:parts/postBottom.html.twig' %}
                        <div id="post-comment-{{item.id}}">
                            {% include 'AppBundle:Account:parts/comments.html.twig' %}
                        </div>
                {#<div class="info-block info-block-message">
                    <a href="javascript:;">
                        <div class="wrap-holder">
                            <div class="img-holder">
                                <img src="/assets/img/noname.png" alt="">
                            </div>
                        </div>
                    </a>
                    <div class="messenger-box">
                        <textarea placeholder="{{'post.add_a_comment'|trans}}" onkeyup="auto_grow(this)"></textarea>
                    </div>
                    <button class="post-btn">{{'user_wall.Post'|trans}}</button>
                </div>#}
            </div>
        {% endif %}
        {% else %}
        {% if user == item.author or user == 'x' %}
            {% include '@App/Account/templates/eventPost.html.twig' with {'item': item, 'from' : 'user', 'user': 'x'} %}
        {% else %}

        <div id="post-{{item.id}}" class="post repost event">
            <div class="wrapp-heading-box">
                    <div class="post-img">
                        <a
                        {% if app.user == user %}
                            href="{{path('profile')}}"
                        {% else %}
                            href="{{path('some-user-page', {'someUser': user.id})}}"
                        {% endif %}>
                            <img src="{{user.image.src}}" alt="">
                        </a>
                    </div>
                    <div class="repost-info">
                            <a class="repost-author-link"
                            {% if app.user == user %}
                            href="{{path('profile')}}"
                            {% else %}
                                href="{{path('some-user-page', {'someUser': user.id})}}"
                            {% endif %}
                            >
                            <h3 class="post-info-author">{{user.firstName}} {{user.lastName}}</h3>
                            </a>
                            <p>{{'post.text_repost_update'|trans}}</p>
                            <span class="repost-date">{{item.showDate | date('d/m/Y') }}</span>
                    </div>
                </div>
                            <div class="content-block">
                    <div class="info-block">
                        <div class="wrap-holder">
                            <div class="img-holder">
                                <img src="{{item.author.image.src}}" alt="">
                            </div>
                        </div>
                        <div class="user-info-box">
                            <div class="wrapper-user-info">
                                <a
                                {% if app.user == item.author %}
                                    href="{{path('profile')}}"
                                {% else %}
                                    href="{{path('some-user-page', {'someUser': item.author.id})}}"
                                {% endif %}
                                class="heading-link"><h3>{{item.author.firstName}} {{item.author.lastName}}</h3></a>
                                <span>{{item.author.job}}</span>
                        </div>
                        <div class="post-type-wrap">
                            <p class="type-of-event">{{item.eventPost.eventType.translate(app.request.locale).name}}
                                <span class="icon icon-publish_icon"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="wrapp-post-content">
                    <div class="heading-information">
                        <h4>{{item.eventPost.name}}</h4>
                        <p class="event-date">{{item.eventPost.startDate | date('d/m/Y')}} - {{item.eventPost.endDate | date('d/m/Y')}}</p>
                    </div>
                    <p>{{item.content}}</p>
                    <div class="item-wrap">
                        <p class="post-indastry">{{item.eventPost.industry.translate(app.request.locale).name}}</p>
                        {% if item.communities.first %}
                        <a href="{{path('community', {'comm': item.communities.first.id})}}" class="post-community">{{item.communities.first}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="post-action-wrap clearfix">
                {#{% if app.user != item.author %}#}
                <div class="post-action">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" {#onclick="repost({{item.id}}, {{app.user.id}});" #}>
                                <span class="icon-save icon"></span>
                        {{'post.save'|trans}}</a>
                </div>
                {#{% endif %}#}
                <div class="post-action like-box">
                    <a href="javascript:;" class="dropdown-toggle" onclick="like({{item.id}});return false;">
                            <span id="likes1-{{item.id}}" class="icon icon-like">{{item.likedUsers | length}}</span>
                    {{'user_wall.Going'|trans}}</a>
                    <div class="popup-window">
                        <a href="{{path('getLikePopup', {'post' : item.id})}}" class="heading-info link-popup-likes">
                            <strong><span id="likes2-{{item.id}}">{{item.likedUsers | length}}</span> {{'post.like'|trans}}</strong>
                        </a>
                        <div class="wrap-holder" id="like-list-{{item.id}}">
                            {% for elem in item.likedUsers | slice(0, 4) %}
                            <a {% if app.user == elem.user %} id="like-{{item.id}}-{{elem.user.id}}"
                                            href="{{path('profile')}}"
                                        {% else %}
                                            href="{{path('some-user-page', {'someUser': elem.user.id})}}"
                                        {% endif %}>
                            <div class="img-holder">
                                <img src="{{elem.user.image.src}}" alt="">
                            </div>
                            </a>
                            {% endfor %}
                            {#<a href="javascript:;"><div class="img-holder">
                                <img src="/assets/img/noname.png" alt="">
                            </div></a>#}
                        </div>
                    </div>
                </div>
                <div class="post-action">
                        <a class="dropdown-toggle toggle-add-comment" href="javascript:;">
                                <span class="icon icon-comment">{{item.comment | length}}</span>
                        {{'user_wall.Interested_in'|trans}}</a>
                </div>
                <div class="post-action">
                    {% if item.type == 2 %}
                        <a class="dropdown-toggle link-popup-share"  href="{{path('getOppPopup', {'post' : item.id})}}">
                                <span class="icon icon-share_little">{{item.sharedUsers | length}}</span>
                                {{'post.share'|trans}}
                        </a>
                    {% elseif item.type == 1 %}
                        <a class="dropdown-toggle link-popup-share"  href="{{path('getUpdatePopup', {'post' : item.id})}}">
                                <span class="icon icon-share_little">{{item.sharedUsers | length}}</span>
                                {{'post.share'|trans}}
                        </a>
                    {% else %}
                        <a class="dropdown-toggle link-popup-share"  href="{{path('getEventPopup', {'post' : item.id})}}">
                                <span class="icon icon-share_little">{{item.sharedUsers | length}}</span>
                                {{'post.share'|trans}}
                        </a>
                    {% endif %}
                </div>

                <div class="post-action filter">
                        <button>
                            {% if from == 'user' and item.author == app.user %}
                                <a href="javascript:;" onclick="deletePostFromUserWall({{item.id}}); return false;">
                                    <span class="icon icon-close"></span>
                                </a>
                            {% elseif from == 'comm' and item.author == app.user %}
                                <a href="javascript:;" onclick="deletePostFromCommWall({{item.id}}, {{comm.id}}); return false;">
                                    <span class="icon icon-close"></span>
                                </a>
                            {% elseif from == 'someUser' and item.author == app.user %}
                                <a href="javascript:;" onclick="deletePostFromUserWall({{item.id}}); return false;">
                                    <span class="icon icon-close"></span>
                                </a>
                            {% endif %}
                        </button>

                </div>
            </div>
            <div id="post-comment-{{item.id}}">
            {% include 'AppBundle:Account:parts/comments.html.twig' %}
            </div>
            {#<div class="info-block info-block-message">
                <a href="javascript:;">
                    <div class="wrap-holder">
                        <div class="img-holder">
                            <img src="/assets/img/noname.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="messenger-box">
                    <textarea placeholder="{{'post.add_a_comment'|trans}}" onkeyup="auto_grow(this)"></textarea>
                </div>
                <button class="post-btn">{{'user_wall.Post'|trans}}</button>
            </div>#}
        </div>
       {% endif %}

        {% endif %}
        {% endfor %}

</div>
{% endif %}

