{% extends "AppBundle::layout.html.twig" %}

{% block header_comm %}
    {% include "AppBundle:Account:parts/header.html.twig" with {'user': someUser} %}
{% endblock %}

{% block content %}

    {% set mymy = (someUser == app.user) %}

<div id="content" class="public-profile-content">
    <div class="row">
        <div class="container">

            <aside class="col-md-2">
                <div id="map-mini" class="user-location-map" style="height: 160px; width: 160px;"></div>
                <input id="address" type="hidden" value="{{someUser.city}}">
                <div class="left-item-wrap">
                    <h3 class="title">{{'registration.profile'|trans}}</h3>
                    <div class="left-list-item">
                        {% if app.request.get('_route') == 'some-user-page' %}
                        <a href="#tab-1" data-trigger-toggle="tab-1" {% if not type %}class="active"{% endif %}>{{'aside.overview'|trans}}</a>
                        <a href="#tab-2" data-trigger-toggle="tab-2" onclick="commListEdit();">{{'aside.my_bussiness_communities'|trans}}</a>
                        <a href="#tab-3" data-trigger-toggle="tab-3">{{'aside.my_individual_informations'|trans}}</a>
                        <a href="#tab-4" data-trigger-toggle="tab-4">{{'aside.my_bussiness_informations'|trans}}</a>
                        {% else %}
                        <a href="{{path('some-user-page', {'someUser': someUser.id})}}#tab-1">{{'aside.overview'|trans}}</a>
                        <a href="{{path('some-user-page', {'someUser': someUser.id})}}#tab-2">{{'aside.my_bussiness_communities'|trans}}</a>
                        <a href="{{path('some-user-page', {'someUser': someUser.id})}}#tab-3">{{'aside.my_individual_informations'|trans}}</a>
                        <a href="{{path('some-user-page', {'someUser': someUser.id})}}#tab-4">{{'aside.my_bussiness_informations'|trans}}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="left-item-wrap">
                    <h3 class="title">{{'user_wall.Recent_activity'|trans}}</h3>
                    {#
                        <div class="left-list-item">
                            <a{% if type == 4 %} class="active"{% endif %} href="{{path('some-user-page-connections', {'someUser' : someUser.id })}}">{% if mymy %}{{'user_wall.my_connections'|trans}}{% else %}{{'user_wall.Connections'|trans}}{% endif %}</a>
                        </div>

                        <div class="left-list-item">
                          <a href="javascript:;" class="mnv-disabled">{{'user_wall.Following'|trans}}</a>
                        </div>
                    #}
                        <div class="left-list-item">
                            <a{% if type == 1 %} class="active"{% endif %} href="{{path('some-user-page-update', {'someUser' : someUser.id })}}">{% if mymy %}{{'user_wall.my'|trans}}{% endif %} {{'user_wall.Updates'|trans}}</a>
                        </div>

                        <div class="left-list-item">
                            <a{% if type == 2 %} class="active"{% endif %} href="{{path('some-user-page-opportunity', {'someUser' : someUser.id })}}"> {% if mymy %}{{'user_wall.my'|trans}}{% endif %} {{'user_wall.Opportunities'|trans}}</a>
                        </div>

                        <div class="left-list-item">
                            <a{% if type == 3 %} class="active"{% endif %} href="{{path('some-user-page-event', {'someUser' : someUser.id })}}">{% if mymy %}{{'user_wall.my'|trans}}{% endif %} {{'user_wall.Events'|trans}}</a>
                        </div>

                </div>
                {#
                <div class="invite-wrap">
                        <a class="invite-btn" href="{{path('profile_organisation')}}">
                              + {{'registration.My_organisation'|trans}}
                        </a>
                </div>
                #}
            </aside>

            <div class="col-md-7">

                <div class="row">
                    {% if not showPosts %}
                    <ul class="nav nav-tabs nav-tabs-user-page">
                        <li class="active"><a href="#tab-1" data-toggle="tab">{{'aside.overview'|trans}}</a></li>
                        <li><a href="#tab-2" data-toggle="tab" onclick="commListEdit();">{{'aside.my_bussiness_communities'|trans}}</a></li>
                        <li><a href="#tab-3" data-toggle="tab">{{'aside.my_individual_informations'|trans}}</a></li>
                        <li><a href="#tab-4" data-toggle="tab">{{'aside.my_bussiness_informations'|trans}}</a></li>
                    </ul>
                    <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <div class="overview-wrap">
                                    <div class="overview-content">
                                        <h2 class="title">{{'aside.overview'|trans}}</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="overview">
                                        <form class="edit-content" metod="post" action="/profile/edit-individual">
                                            <div class="textarea-holder">
                                                <textarea class="set-content-height" name="overview" onkeyup="auto_grow(this)" disabled cols="65" placeholder="{{'user_wall.tell_about_yourself'|trans}}">{{someUser.inform.overview}}</textarea>
                                                {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                            </div>
                                            {% if mymy %}<div class="wrap-button wrap-button-overview"><button class="submit submit-save" type="submit">{{'post.save'|trans}}</button></div>{% endif %}
                                        </form>
                                        <ul class="interested-list">
                                            <li class="heading"><span>{{'user_wall.Interested_in'|trans}}</span></li>
                                            {% for item in someUser.interestedIn %}
                                            <li>{{item.translate(app.request.locale).name}} {% if mymy %}<span onclick="removeInteresterIn({{item.id}}, this);" class="icon icon-close"></span>{% endif %}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab-2">
                                <div class="clearfix"></div>
                                    <div class="edit-content">
                                        <h2 class="title">{{'aside.my_bussiness_communities'|trans}}</h2>
                                        <div class="clearfix"></div>

                                        <div class="edit-wrap" id="comm-list-editable">
                                            <div id="communities">
                                                {% for commItem in someUser.communities %}
                                                <div class="my-bc clearfix" id="comm-{{commItem.id}}" class="left-link">
                                                    <a href="{{path('community', {'comm': commItem.id})}}">{{commItem.name}} - {{commItem.area.country.name}} </a>
                                                    {% if mymy %}<a href="javascript:;" onclick="deleteComm('{{commItem.id}}'); return false;" class="right-link"> {{'public_profile_header.remove'|trans}}</a>{% endif %}
                                                </div>
                                                {% endfor %}
                                                <div class="clearfix"></div>
                                            </div>

                                            {% if mymy %}
                                            <div id="comm-edit-block" class="select-community" style="display: none;">
                                                <p class="title">{{'registration_bc.Do_you_want_to_add_another_city'|trans}}</p>
                                                 <div class="map-wrap map-wrap-user-page" id="map" style="height: 425px; width: 500px;">

                                                </div>
                                                <div class="select-holder">
                                                    <select name="country" onchange="getUrbanAreas();" id="community-country">
                                                        <option value="">{{'registration_bc.Select_your_country'|trans}}</option>
                                                        {% for item in countries%}
                                                        <option value="{{item.id}}">{{item.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="icon icon-edit hide-icon-edit"></span>
                                                </div>
                                                <div class="select-holder">
                                                    <select name="area" id="community-area" disabled>
                                                            <option value="">{{'registration_bc.Select_an_urban_area'|trans}}</option>
                                                    </select>
                                                    <span class="icon icon-edit hide-icon-edit"></span>
                                                </div>
                                            </div>


                                            {% endif %}
                                        </div>
                                    </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3">
                                    <div class="clearfix"></div>
                                    <form class="edit-content" metod="post" action="{{path('edit-individual')}}">
                                            <h2 class="title">{{'aside.my_individual_informations'|trans}}</h2>
                                            <div class="clearfix"></div>

                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.general_informations'|trans}}</p>
                                                            </div>
                                                    </div>

                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'homepage.eMail'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="email" disabled type="email" value="{{someUser.inform.email}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.IM'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="im" disabled type="text" value="{{someUser.im}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.phone'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="phone" disabled type="text" value="{{someUser.phone}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.address'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="address" disabled type="text" value="{{someUser.address}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>LinkedIn</p>
                                                            <div class="input-holder">
                                                                    <input name="linkedIn" disabled type="text" value="{{someUser.linkedIn}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>

                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.current_activity'|trans}}</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.summary'|trans}}</p>
                                                            <div class="textarea-holder">
                                                                    <textarea name="currentSummary" disabled id="summary"  rows="4">{{someUser.inform.currentSummary}}</textarea>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'registration_pr.Current_position'|trans}}</p>
                                                            <div class="textarea-holder">
                                                                    <textarea name="currentPosition" disabled class="set-content-height current-stretch-textarea" onkeyup="auto_grow(this)">{{someUser.job}}</textarea>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.department'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="department" disabled id="department">
                                                                        {% if someUser.inform.department %}
                                                                            <option selected value="{{someUser.inform.department.id}}">{{someUser.inform.department.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in deps %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.skills'|trans}}</p>
                                                            {#<div class="input-holder">
                                                                    <input name="skills" disabled type="text" value="{{someUser.inform.skills}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>#}
                                                            <div class="edit-profiling-wrap">
                                                                    <div class="select-holder">
                                                                        {% if not mymy %}
                                                                            <ul>
                                                                            {% for item in someUser.inform.skills %}
                                                                                <li>{{item.translate(app.request.locale).name}}</li>
                                                                            {% endfor %}
                                                                            </ul>
                                                                        {% else %}
                                                                            <select name="skills[]" disabled id="" multiple class="multiple-select">
                                                                                {#{% if someUser.interestedIn %}
                                                                                    {% for item in someUser.interestedIn %}
                                                                                    <option selected value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    <option selected disabled></option>
                                                                                {% endif %}#}
                                                                                {% for item in skill %}
                                                                                    <option
                                                                                        {% if item in someUser.inform.skills %} selected {% endif %}
                                                                                        value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            <span class="icon icon-edit hide-icon-edit"></span>
                                                                        {% endif %}
                                                                    </div>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.education'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="education" disabled type="text" value="{{someUser.inform.education}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.additional_informations'|trans}}</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.language'|trans}}</p>
                                                            {#<div class="select-holder">
                                                                    <select name="language" disabled id="language">
                                                                        {% if someUser.inform.lang %}
                                                                            <option selected value="{{someUser.inform.lang.id}}">{{someUser.inform.lang.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in langs %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>#}
                                                            <div class="select-holder">
                                                                        {% if not mymy %}
                                                                            <ul>
                                                                            {% for item in someUser.inform.lang %}
                                                                                <li>{{item.translate(app.request.locale).name}}</li>
                                                                            {% endfor %}
                                                                            </ul>
                                                                        {% else %}
                                                                            <select name="langs[]" disabled id="" multiple class="multiple-select">
                                                                                {#{% if someUser.interestedIn %}
                                                                                    {% for item in someUser.interestedIn %}
                                                                                    <option selected value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    <option selected disabled></option>
                                                                                {% endif %}#}
                                                                                {% for item in langs %}
                                                                                    <option
                                                                                        {% if item in someUser.inform.lang %} selected {% endif %}
                                                                                        value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            <span class="icon icon-edit hide-icon-edit"></span>
                                                                        {% endif %}
                                                                    </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.interests'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="interests" disabled type="text" value="{{someUser.inform.interests}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.local_responsabilities'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="localResp" disabled type="text" value="{{someUser.inform.localResp}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            {% if mymy %}
                                            <div class="wrap-button"><button class="submit submit-save" type="submit">{{'post.save'|trans}}</button></div>
                                            {% endif %}
                                    </form>
                            </div>
                            <div class="tab-pane fade" id="tab-4">
                                    <div class="clearfix"></div>
                                    <form class="edit-content" method="post" action="{{path('edit-info')}}">
                                            <h2 class="title">{{'aside.my_bussiness_informations'|trans}}</h2>
                                            <div class="clearfix"></div>

                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.general_informations'|trans}}</p>
                                                            </div>
                                                    </div>

                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.organisation_s_name'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="organisation" disabled type="text" value="{{someUser.inform.organisation}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.type'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="orgType" disabled id="">
                                                                        {% if someUser.category %}
                                                                            <option selected value="{{someUser.category.id}}">{{someUser.category.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in cats %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.size'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="orgSize" disabled id="">
                                                                        {% if someUser.inform.orgSize %}
                                                                            <option selected value="{{someUser.inform.orgSize.id}}">{{someUser.inform.orgSize.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in sizes %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">My activity</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.summary'|trans}}</p>
                                                            <div class="textarea-holder">
                                                                    <textarea name="summary" id="" disabled rows="4">{{someUser.inform.summary}}</textarea>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.business_area'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="businessArea" disabled id="">
                                                                        {% if someUser.inform.businessArea %}
                                                                            <option selected value="{{someUser.inform.businessArea.id}}">{{someUser.inform.businessArea.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in business %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.industry_list'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="industry" disabled id="">
                                                                        {% if someUser.industry %}
                                                                            <option selected value="{{someUser.industry.id}}">{{someUser.industry.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in ind %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.clients'|trans}}</p>
                                                            <div class="select-holder">
                                                                    <select name="clients" disabled id="">
                                                                        {% if someUser.inform.clients %}
                                                                            <option selected value="{{someUser.inform.clients.id}}">{{someUser.inform.clients.translate(app.request.locale).name}}</option>
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}
                                                                        {% for item in clients %}
                                                                        <option value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.business_network_clubs'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="clubs" disabled type="text" value="{{someUser.inform.clubs}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'registration_pr.Interested_in'|trans}}</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p> </p>
                                                            <div class="select-holder">
                                                                {% if not mymy %}
                                                                    <ul>
                                                                    {% for item in someUser.interestedIn %}
                                                                        <li>{{item.translate(app.request.locale).name}}</li>
                                                                    {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <select name="interestedIn[]" disabled id="" multiple class="multiple-select">
                                                                        {#{% if someUser.interestedIn %}
                                                                            {% for item in someUser.interestedIn %}
                                                                            <option selected value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            <option selected disabled></option>
                                                                        {% endif %}#}
                                                                        {% for item in interestedIn %}
                                                                            <option
                                                                                {% if item in someUser.interestedIn %} selected {% endif %}
                                                                                value="{{item.id}}">{{item.translate(app.request.locale).name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <span class="icon icon-edit hide-icon-edit"></span>
                                                                {% endif %}
                                                            </div>
                                                    </div>

                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.clients'|trans}}</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>LinkedIn</p>
                                                            <div class="input-holder">
                                                                    <input name="linkedIn" disabled type="text" value="{{someUser.linkedIn}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>twitter</p>
                                                            <div class="input-holder">
                                                                    <input name="twitter" disabled type="text" value="{{someUser.inform.twitter}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.youtube_channel'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="youtube" disabled type="text" value="{{someUser.inform.youtube}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>Facebook</p>
                                                            <div class="input-holder">
                                                                    <input name="facebook" disabled type="text" value="{{someUser.inform.facebook}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p>{{'user_wall.websites'|trans}}</p>
                                                            <div class="input-holder">
                                                                    <input name="website" disabled type="text" value="{{someUser.inform.website}}">
                                                                    {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="edit-wrap clearfix">
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="table-cell">
                                                                    <p class="title-edit">{{'user_wall.documentation_center'|trans}}</p>
                                                            </div>
                                                    </div>
                                                    <div class="edit-profiling-wrap">
                                                            <p></p>
                                                            <div class="input-holder">
                                                                <input name="docs" disabled type="text" value="{{someUser.inform.docs}}">
                                                                {% if mymy %}<span class="icon icon-edit hide-icon-edit"></span>{% endif %}
                                                            </div>
                                                    </div>
                                            </div>
                                            {% if mymy %}
                                            <div class="wrap-button">
                                                <button class="submit submit-save" type="submit">{{'post.save'|trans}}</button>
                                            </div>
                                            {% endif %}

                                    </form>
                            </div>
                    </div>
                    {% endif %}

                    {% if showPosts %}
                    <div class="wall-wrap">
                        {% if app.request.attributes.get('_route') == 'some-user-page-connections'%}
                            {% include 'AppBundle:Account:post.html.twig' with {'from' : 'someUser', 'user' : 'x'} %}
                        {% else %}
                            {% include 'AppBundle:Account:post.html.twig' with {'from' : 'someUser', 'user' : someUser} %}
                        {% endif %}
                    </div>
                    {% endif %}

                </div>

            </div>

            {% include 'AppBundle:Account:parts/aside.html.twig' %}

        </div>
    </div>
</div>

{% if not mymy %}
<div class="chat-box fixed-bottom" id="message-window">
    <div class="heading-panel">
        <a href="javascript:;" class="user-name">{{someUser.firstName}} {{someUser.lastName}}</a>
        <span class="icon icon-close"></span>
    </div>
    <div class="chat-content" id="mini-chat">
        {% for item in messages %}
            {% if item.sender == app.user %}
            <div class="info-block info-block-your-message">
                <p>{{item.text}}</p>
            </div>
            {% else %}
            {{messageManager.readMessage(item)}}
        <div class="info-block info-block-interlocutor">
            <a href="javascript:;">
                <div class="wrap-holder">
                    <div class="img-holder">
                        <img src="{{someUser.image.src}}" alt="">
                    </div>
                </div>
            </a>
            <p>{{item.text}}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="send-block">
        <textarea placeholder="{{'user_wall.enter_your_message'|trans}}" id="usermsg"></textarea>
        <div class="add-box">
            <span class="icon-picture mnv-disabled"  name="icon-picture"></span>
            <span class="icon-add-file mnv-disabled"  name="add icon-file"></span>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    var myCommIds = [{% for item in someUser.communities %}{{item.id}}{% if not loop.last%},{% endif %} {% endfor %}];
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}" async defer></script>
{{parent()}}
<script src="/js/map.js"></script>
<script src="/js/registration.js"></script>
<script>
    $(document).ready(function($) {
        if (location.hash) {
            var link = $('a[href="' + location.hash + '"]');
            link.trigger('click');
        }

        $('.multiple-select').select2();
    });

    $('.hide-icon-edit').click(function(){
        var input = $(this).prev();
        input.prop('disabled', false);
        $(this).parent().find(".multiple-select").prop('disabled', false);
        if (input.is('select')) {
            input.select2();
        }
    });

    function removeInteresterIn(id, elem)
    {
        jQuery.ajax({
            type: "GET",
            url: '/profile/delete-interest/'+ id,
            success: function(data)
            {
                $(elem).parent().remove();
            }
        });
    }


    function commListEdit()
    {
        $('#comm-edit-block').show();
        // initMap();
    }

    function getUrbanAreas()
    {
        country = $( "#community-country" ).val();
        jQuery.ajax({
            type: "GET",
            url: '/ajax-get-urban-areas/'+ country,
            success: function(data)
            {
                $('#community-area').find('option').remove();
                $.each(data, function(key, value) {
                    $('#community-area').append($("<option>", {
                        value: value.id,
                        text: value.name
                    }));
                });
            }
        });
    }

    function deleteComm(id)
    {
        jQuery.ajax({
            type: "GET",
            url: '/delete-comm/'+ id,
            success: function(data)
            {
                $('#comm-'+id).remove();
                marker = markers[id];
                uncheckMarker(marker);
            }
        });
    }

    function addComm(commId)
    {
        jQuery.ajax({
            type: "GET",
            url: '/add-comm/'+ commId,
            success: function(data)
            {
                if (data.commId) {
                    $('#communities').append('<div class="my-bc clearfix" id="comm-'+data.commId+'">'+
                        '<a href="/profile/community-'+data.commId+'">'+data.commName+' - '+data.country+'</a>'+
                        '<a href="" onclick="deleteComm('+data.commId+'); return false;" class="right-link"> {{'public_profile_header.remove'|trans}}</a>'+
                        '</div><div class="clearfix"></div>'
                    );
                }
            }
        });
    }
    {% if app.user != someUser %}
    $("#usermsg").keypress(function (e) {
        if(e.which == 13) {
            jQuery.ajax({
                type: "GET",
                url: '/profile/ajax-send-message/{{someUser.id}}?message=' + $(this).val(),
                success: function(data)
                {
                    $('#mini-chat').append('<div class="info-block info-block-your-message"><p>'+ data.message +'</p></div>')
                }
            });

            $(this).val("");
           // e.preventDefault();
        }
    });
    {% endif %}
{#    jQuery(document).ready(function($) {
        commListEdit();
    });#}
</script>

<div id="cropp-img-popup" class="white-popup img-cropp-popup mfp-hide">
    <div id="image-cropp"></div>
    <button id="get-cropp-result">{{'post.save'|trans}}</button>
</div>


{% endblock javascript %}

{% block js %}
    <script src="/js/post.js"></script>
{% endblock %}

